---
import ButtonAside from "@src/assets/utils/Button-Aside.astro";
import DivBgComplete from "@src/components/Aside/Components/Div-Bg-Complete.astro";
import Buscador from "@src/components/Aside/Components/Buscador.astro";

import GitLogo from "@src/icons/github.astro";

interface Props {
  total: number;
}

const { total } = Astro.props;
---

<div class="flex-grow flex flex-col gap-3 flex-wrap">
  <section
    class="flex-grow flex flex-col justify-center items-center [&>*]:font-sans [&>*]:font-semibold [&>*]:text-black"
  >
    <ButtonAside href="https://github.com/LGsus113" title="GitHub">
      <GitLogo class="size-6" />
    </ButtonAside>
  </section>

  <div class="w-full h-auto flex flex-col gap-3">
    <section
      class="[&>*]:font-sans [&>*]:font-semibold [&>*]:text-lg flex flex-row justify-between items-center"
    >
      <DivBgComplete className="h-16 w-full justify-between px-3 py-1">
        <h1>Total de poemas</h1>
        <h1
          class="rounded-lg text-2xl size-12 font-normal shadow-inner shadow-black/[.3] flex justify-center items-center"
        >
          {total}
        </h1>
      </DivBgComplete>
    </section>

    <section class="w-full h-auto flex items-center justify-center">
      <Buscador />
    </section>
  </div>
</div>
