---
interface Props {
  img: string;
  slug: string;
}

const { img, slug } = Astro.props;
---

<article class="w-[980px] h-auto relative flex justify-center gap-10">
  <div
    class="w-1/2  h-auto font-sans text-base font-semibold flex flex-col gap-5"
  >
    <slot />
  </div>
  <div
    class="w-auto h-[530px] overflow-hidden rounded-lg sticky top-[100px] shadow-lg shadow-black/[.5]"
  >
    <img
      src={`/imgs/${img}`}
      alt={img}
      class="w-auto h-full rounded-lg"
      transition:name={`img-${slug}`}
    />
  </div>
</article>
