---
import Atras from "@src/icons/atras.astro";
---

<div class="w-[1400px] p-5">
  <a href="/" class="flex justify-start items-center group">
    <div
      class="size-auto rounded-lg shadow-md backdrop-blur-sm border border-[#ffb77d]/[.4] shadow-[#ffb77d]/[.6] p-2 group-hover:border-[#ffb77d]/[.5] group-hover:shadow-[#ffb77d]/[.8] group-hover:scale-105 group-active:scale-95 transition-all duration-100"
    >
      <Atras class="size-8 text-[#ffb77d]" />
    </div>
  </a>
</div>
