<div class="w-full h-auto flex items-center justify-center">
  <h1
    class="text-4xl text-pretty font-titan font-medium tracking-tight bg-clip-text text-transparent bg-[linear-gradient(90deg,_hsla(22,100%,78%,1)_0%,_hsla(2,78%,62%,1)_100%)]"
  >
    El color de la vida, una letra a la vez
  </h1>
</div>
