---
import LogoLGsus from "@public/lgsus.webp";
import "@fontsource/darumadrop-one";
import "@fontsource/titan-one";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={LogoLGsus.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-full flex">
    <aside id="sidebar" class="w-[440px] h-screen p-2">
      <slot name="aside" />
    </aside>
    <div class="flex flex-col w-full h-auto">
      <header>
        <slot name="header" />
      </header>
      <main>
        <slot name="main" />
      </main>
      <footer>
        <slot name="footer" />
      </footer>
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: "Darumadrop One", "Titan One", sans-serif;
  }

  aside {
    transition: width .3s ease;

    &.collapsed {
      width: 200px;
    }
  }
</style>
