---
import { ClientRouter } from "astro:transitions";

import LogoLGsus from "@public/lgsus.webp";
import "@fontsource/darumadrop-one";
import "@fontsource/titan-one";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={LogoLGsus.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <div
      class="fixed top-0 left-0 -z-10 min-h-screen min-w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"
    >
    </div>
    <aside id="sidebar">
      <slot name="aside" />
    </aside>
    <div class="content">
      <header>
        <slot name="header" />
      </header>
      <main class="flex justify-center items-start flex-grow">
        <slot name="main" />
      </main>
      <footer>
        <slot name="footer" />
      </footer>
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: "Darumadrop One", "Titan One", sans-serif;
  }

  body {
    display: grid;
    grid-template-columns: 380px 1fr;
    height: 100vh;
    transition: grid-template-columns 0.3s ease-in-out;

    &.collapsed {
      grid-template-columns: 200px 1fr;
    }
  }

  aside {
    height: 100vh;
    padding: 8px;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    overflow-y: auto;
  }

  @media (max-width: 768px) {
    body {
      grid-template-columns: 1fr;
    }

    aside {
      display: none;
    }
  }
</style>
